<!--  Copyright (c) 2021 David Pine. All rights reserved.
      Licensed under the MIT License.  -->

@inherits LocalizableComponentBase<LanguageSelectionComponent>

<ErrorBoundary>
	<ChildContent>
	<span class="navbar-item">
		<button class="button level-item is-rounded is-warning"
			title=@localize["Language"] @onclick=Show>
			<span class="icon">
				<i class="fas fa-language"></i>
			</span>
		</button>
	</span>
	</ChildContent>
	<ErrorContent>
	<span class="navbar-item">
		<button class="button level-item is-rounded is-warning"
			disabled title=@localize["Language"]>
			<span class="icon">
				<i class="fas fa-language"></i>
			</span>
		</button>
	</span>
	</ErrorContent>
</ErrorBoundary>

<ModalComponent @ref="_modal" OnDismissed=@OnDismissed>
    <TitleContent>
        <span class="icon pr-2">
            <i class="fas fa-cogs"></i>
        </span>
        <span>@localize["Language"]</span>
    </TitleContent>

    <BodyContent>
        <form>
            <div class="field">
                <p class="control has-icons-left">
                    <span class="select is-medium is-fullwidth">
                        <select id="languages" @bind=_selectedCulture>
                        @if (_supportedCultures?.Any() ?? false)
                        {
                            var lcid = Culture.CurrentCulture.LCID;
                            Logger.LogInformation("Current culture LCID: {id}", lcid);

                            @foreach (var (culture, azureCulture)
                                in _supportedCultures.OrderBy(c => c.Culture.Name))
                            {
                                <option selected="@(lcid == culture.LCID)"
                                    value="@culture">
                                    @(ToDisplayName((culture, azureCulture)))
                                </option>
                            }
                        }
                        </select>
                    </span>
                    <span class="icon is-small is-left">
                        <i class="fas fa-globe"></i>
                    </span>
                </p>
            </div>
        </form>
    </BodyContent>

    <ButtonContent>
        <div class="buttons are-large">
        <button class="button is-success"
            @onclick="Confirm">
            <span class="icon">
                <i class="fas fa-check"></i>
            </span>
            <span>@localize["Okay"]</span>
        </button>
        <button class="button is-danger"
            @onclick=@(() => _modal.Cancel())>
            <span class="icon">
                <i class="fas fa-times"></i>
            </span>
            <span>@localize["Cancel"]</span>
        </button>
        </div>
    </ButtonContent>
</ModalComponent>
