@inherits LocalizableComponentBase<WeatherComponent>

<div class="columns has-text-centered">
    @if (_state is ComponentState.Loaded)
    {
        var weather = _model!;
        <div class="column is-one-third">
            <div class="box">
                <article class="media">
                    <div class="media-left">
                        <figure class="image is-128x128">
                            <img src=@(weather.ImagePath) alt="@localize["CurrentWeatherVisual"]">
                        </figure>
                    </div>
                    <div class="media-content">
                        <div class="content has-text-right">
                            <div>
                                <span class="title">@weather.Temperature</span>
                                <span class="heading">
                                    <i class="fas fa-arrow-up"></i> @(weather.HighTemp) | <i class="fas fa-arrow-down"></i> @(weather.LowTemp)
                                </span>
                                <span class="heading">@weather.Description</span>
                                <span class="heading"><i class="fas fa-wind"></i> @weather.WindSpeed <sup>@(localize[weather.WindDegree.ToVerboseCardinal()])</sup></span>
                            </div>
                        </div>
                    </div>
                </article>
                <div class="has-text-centered">
                    @($"{weather.City}, {weather.State} ({weather.Country})")
                </div>
            </div>
        </div>
        <div class="column">
            <div class="level">
                @foreach (DailyWeather daily in weather.DailyWeather)
                {
                    <div class="level-item has-text-centered">
                        <div>
                            <p class="heading is-size-6 is-underlined">@daily.DateTime.ToString("ddd")</p>
                            <p class="title">
                                <figure class="image is-64x64">
                                    <img src=@weather.GetDailyImagePath(daily) alt="@daily.Weather[0].Description">
                                </figure>
                            </p>
                            <p class="heading">@daily.Weather[0].Main</p>
                            <p class="heading has-text-weight-bold">
                                <i class="fas fa-arrow-up"></i>
                                @weather.GetDailyHigh(daily)
                            </p>
                            <p class="heading has-text-weight-bold">
                                <i class="fas fa-arrow-down"></i>
                                @weather.GetDailyLow(daily)
                            </p>
                        </div>
                    </div>
                }
            </div>
        </div>
    }
    else if (_state is ComponentState.Loading)
    {
        <div class="column is-full">
            <div class="fa-3x">
                <i class="fas fa-sync fa-spin"></i>
            </div>
        </div>
    }
    else
    {
        <div class="column is-full">
            @localize["WeatherUnavailable"]
        </div>
    }
</div>
