<!--  Copyright (c) 2021 David Pine. All rights reserved.
      Licensed under the MIT License.
-->

@page "/contact"
@attribute [AllowAnonymous]
@inherits LocalizableComponentBase<Contact>
@using Learning.Blazor.Components

<PageTitle>
    @Localizer["Contact"]
</PageTitle>

<section class="section">
    <h1 class="is-size-3 pb-3">@Localizer["Contact"]</h1>

    <EditForm Model=_model class="pb-4"
        OnValidSubmit="(async context => await OnValidSubmitAsync(context))">
        <DataAnnotationsValidator />
        <ValidationSummary Model=_model />

        <!-- Email address -->
        <div class="field is-horizontal">
            <div class="field-label is-normal">
                <label class="label">@Localizer["Email"]</label>
            </div>
            <div class="field-body">
                <div class="field">
                    <p class="control is-expanded has-icons-left">
                        <InputText @ref="_emailInput" @bind-Value="_model.EmailAddress" class="input"
                            placeholder="@Localizer["EmailPlaceholder"]" />
                        <span class="icon is-small is-left">
                            <i class="fas fa-envelope"></i>
                        </span>
                    </p>
                </div>
            </div>
        </div>
        <!-- First and last name -->
        <div class="field is-horizontal">
            <div class="field-label is-normal">
                <label class="label">@Localizer["From"]</label>
            </div>
            <div class="field-body">
                <div class="field">
                    <p class="control is-expanded has-icons-left">
                        <InputText @bind-Value="_model.FirstName" class="input"
                            placeholder="@Localizer["FirstName"]" />
                        <span class="icon is-small is-left">
                            <i class="fas fa-user"></i>
                        </span>
                    </p>
                </div>
                <div class="field">
                    <p class="control is-expanded has-icons-left">
                        <InputText @bind-Value="_model.LastName" class="input"
                            placeholder="@Localizer["LastName"]" />
                        <span class="icon is-small is-left">
                            <i class="fas fa-user"></i>
                        </span>
                    </p>
                </div>
            </div>
        </div>
        <!-- Subject -->
        <div class="field is-horizontal">
            <div class="field-label is-normal">
                <label class="label">@Localizer["Subject"]</label>
            </div>
            <div class="field-body">
                <div class="field">
                    <p class="control is-expanded has-icons-left">
                        <InputText @bind-Value="_model.Subject" class="input"
                            placeholder="@Localizer["SubjectPlaceholder"]" />
                        <span class="icon is-small is-left">
                            <i class="fas fa-info-circle"></i>
                        </span>
                    </p>
                </div>
            </div>
        </div>
        <!-- Message -->
        <div class="field is-horizontal">
            <div class="field-label is-normal">
                <label class="label">@Localizer["Message"]</label>
            </div>
            <div class="field-body">
                <div class="field">
                    <div class="control">
                        <InputTextArea @bind-Value="_model.Message" class="textarea"
                            placeholder="@Localizer["MessagePlaceholder"]" />
                    </div>
                </div>
            </div>
        </div>
        <!-- Agree to terms -->
        <div class="field is-horizontal">
            <div class="field-label">
                <label class="label">Agree to terms?</label>
            </div>
            <div class="field-body">
                <div class="field is-narrow">
                    <div class="control">
                        <label class="checkbox">
                            <InputCheckbox @bind-Value="_model.AgreesToTerms" />
                            By checking this box, you agree to the <a href="/termsandconditions">terms and conditions</a>
                        </label>
                    </div>
                </div>
            </div>
        </div>
        <!-- Send button -->
        <div class="field is-horizontal">
            <div class="field-label">
                <!-- Left empty for spacing -->
            </div>
            <div class="field-body">
                <div class="field is-grouped">
                    <button class="button is-success is-large" type="submit"
                        disabled=@_isSendDisabled>
                        <span class="icon">
                            <i class="fas fa-paper-plane"></i>
                        </span>
                        <span>@Localizer["Send"]</span>
                    </button>
                </div>
            </div>
        </div>
    </EditForm>
</section>

<VerificationModalComponent @ref="_modalComponent"
    OnVerificationAttempted=@OnVerificationAttempted />
