<!--  Copyright (c) 2021 David Pine. All rights reserved.
      Licensed under the MIT License.
-->

@page "/tweets"
@attribute [Authorize]
@inherits LocalizableComponentBase<Tweets>

<PageTitle>
    @Localizer["Tweets"]
</PageTitle>

<div class="columns">
    <div class="column is-half is-offset-one-quarter">

        <div class="pb-4">
            <p class="panel-heading">
                <span class="icon pr-2">
                    <i class=@_streamingFontAwesomeClass></i>
                </span>
                <span>@Localizer["TwitterFeed"]</span>
            </p>
            <div class="panel-block">
                <p class="control has-icons-left">
                    <input class="input is-info" type="text"
                           @bind=_filter @bind:event="oninput"
                           disabled=@(_tweets is null or { Count: 0 })
                           placeholder="@Localizer["FilterTweets"]">
                    <span class="icon is-left">
                        <i class="fas fa-search" aria-hidden="true"></i>
                    </span>
                </p>
            </div>

            <div class="panel-block has-text-centered">
                <div class="tags are-medium">
                    @if (_streamingStatus is { Tracks: { Length: > 0 } })
                {
                    foreach (var track in _streamingStatus.Tracks)
                    {
                        var style = track.StartsWith("@") ? "is-primary" : "is-link";
                        <span class="tag @style">@track</span>
                    }
                }
                </div>
            </div>
        </div>

        <article class="is-medium-panel is-info has-text-centered has-dotnet-scrollbar">
            <div class="has-text-centered">
                <TweetsComponent Tweets=_tweets!.Values.ToArray() Filter=@_filter>
                    <Loading>
                        <SpinnerComponent />
                    </Loading>
                </TweetsComponent>
            </div>
        </article>

    </div>
</div>
