<!--  Copyright (c) 2021 David Pine. All rights reserved.
      Licensed under the MIT License.
-->

@inherits LocalizableComponentBase<AudioDescriptionModalComponent>

<ModalComponent @ref="_modal">
    <TitleContent>
        <span class="icon pr-2">
            <i class="fas fa-cogs"></i>
        </span>
        <span>@Title</span>
    </TitleContent>

    <BodyContent>
        <form>
            <div class="field">
                <label for="range">Voice speed: @Details.VoiceSpeed</label>
                <input type="range" min="@Details.VoiceSpeeds.Min()" max="@Details.VoiceSpeeds.Max()"
                       step=".25" class="slider is-fullwidth is-info" id="range" list="speeds"
                       value="@Details.VoiceSpeed"
                       @onchange=@OnVoiceSpeedChange>
                <datalist id="speeds">
                    @foreach (var speed in Details.VoiceSpeeds)
                    {
                        <option value="@speed">speed</option>
                    }
                </datalist>
            </div>
            <div class="field">
                <p class="control has-icons-left">
                    <span class="select is-medium is-fullwidth">
                        <select id="voices" class="has-dotnet-scrollbar" @bind=_voice>
                        <option selected>@Localizer["Auto"]</option>
                        @if (Details.Voices is { Count: > 0 })
                        {
                            @foreach (var voice in Details.Voices)
                            {
                                <option selected="@voice.Default" value="@voice.Name">
                                    @voice.Name
                                </option>
                            }
                        }
                        </select>
                    </span>
                    <span class="icon is-small is-left">
                        <i class="fas fa-globe"></i>
                    </span>
                </p>
            </div>
        </form>
    </BodyContent>

    <ButtonContent>
        <button class="button is-success is-large"
            @onclick=ConfirmAsync>
            <span class="icon">
                <i class="fas fa-check"></i>
            </span>
            <span>@Localizer["Okay"]</span>
        </button>
    </ButtonContent>
</ModalComponent>
