@page "/pwned/passwords"
@attribute [Authorize]
@inherits LocalizableComponentBase<Passwords>

<div class="columns">
    <section class="column is-half is-offset-one-quarter">
        <h2 class="pwned-logo is-size-3 is-family-code has-text-white has-background-primary-dark box">
            ';--have i been pwned?
        </h2>

        @{
            var isLoading = _state is ComponentState.Loading;
            var loadingClass = isLoading ? "is-loading" : "";
        }

        <EditForm Model=_model OnValidSubmit="(async context => await OnValidSubmitAsync(context))" class="pb-4">
            <DataAnnotationsValidator />
            <ValidationSummary Model=_model />

            <div class="field has-addons">
                <p class="is-fullwidth control has-icons-left @(loadingClass)">
                    <InputText id="password" @ref=_passwordInput type="password" autocomplete="hidden"
                               @bind-Value=_model.PlainTextPassword class="input is-large"
                               DisplayName=@localize["Password"] placeholder=@localize["Password"] />
                    <span class="icon is-small is-left">
                        <i class="fas fa-key"></i>
                    </span>
                </p>
                <div class="control">
                    <button type="submit" class="button is-danger is-large @(loadingClass)" disabled="@(_isFormInvalid)">
                        <span class="icon">
                            <i class="fas fa-question"></i>
                        </span>
                        <span>pwned</span>
                    </button>
                </div>

                <ValidationMessage For=@(() => _model.PlainTextPassword) />
            </div>

        </EditForm>

        <article class="panel is-info">
            <p class="panel-heading has-text-left">
                <span>
                    @localize["Results"]
                </span>
                <span class="is-pulled-right">
                    @if (_pwnedPassword is { IsPwned: true })
                    {
                        <span class="field is-grouped is-grouped-multiline">
                            <span class="control">
                                <span class="tags are-medium has-addons">
                                    <span class="tag is-danger">pwned</span>
                                    <span class="tag is-dark">@_pwnedPassword.PwnedCount</span>
                                </span>
                            </span>
                            <span class="control">
                                <span class="tags is-clickable are-medium has-addons" @onclick=Reset>
                                    <span class="tag is-primary">reset</span>
                                    <span class="tag is-dark">
                                        <i class="fas fa-redo-alt" aria-hidden="true"></i>
                                    </span>
                                </span>
                            </span>
                        </span>
                    }
                </span>
            </p>

            @if (_pwnedPassword is { IsPwned: true })
            {
                <a class="panel-block is-size-5">
                    <span class="panel-icon">
                        <i class="fas has-text-danger fa-exclamation-circle" aria-hidden="true"></i>
                    </span>
                    @localize["OhNoFormat", _pwnedPassword.PwnedCount]
                </a>
            }
            else if (_state is ComponentState.Loaded)
            {
                <a class="panel-block is-size-5" disabled>
                    <span class="panel-icon">
                        <i class="fas has-text-success fa-check" aria-hidden="true"></i>
                    </span>
                    @localize["NotPwned"]
                </a>
            }
            else
            {
                <a class="panel-block is-size-5" disabled>
                    <span class="panel-icon">
                        <i class="fas fa-question-circle" aria-hidden="true"></i>
                    </span>
                    @localize["EnterPassword"]
                </a>
            }
        </article>
    </section>
</div>
