@inherits LocalizableComponentBase<PageFooter>

<div class="columns has-text-centered">
    <p class="column" translate="no">
        <strong>
            Learning Blazor
        </strong> by
        <a href="@DavidPineUrl" target="_blank">
            David Pine.
        </a>
    </p>
    <p class="column" translate="no">
        The <a href="@CodeUrl" target="_blank">
            <i class="fab fa-github"></i> source code
        </a> is licensed
        <a href="@LicenseUrl">
            MIT.
        </a>
    </p>
    <p class="column">
        <a href="/privacy">@localize["Privacy"]</a> &bull;
        <a href="/termsandconditions">@localize["Terms"]</a>
    </p>
    <p class="column" translate="no">
        @_frameworkDescription
    </p>
</div>
